@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #db5300;
  --light-primary: #f6a26f;
  --grey: #746e6c;
  --extra-light-grey: #ede7e4;
  --light-grey: #aea7a5;
  --dark-grey: #404040;
  --body-bg: #fafafa;
  --black: #001a1a;
  --error: #c31010;
}
@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[6px] h-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100 bg-clip-padding;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-light-grey rounded;
  }
  .sidebar .active {
    @apply bg-primary;
  }
  .sidebar .active span {
    @apply text-white;
  }
  .sidebar .active svg {
    @apply text-white;
  }
}
/* Sidebar */
.sidebar li:hover {
  background: var(--light-primary);
}
.sidebar .icon,
.sidebar .sidebar_text {
  color: var(--light-grey);
}
.sidebar a:hover .icon,
.sidebar a:hover .sidebar_text,
.sidebar li:hover .icon,
.sidebar li:hover .sidebar_text {
  color: white;
}
/* end Sidebar */
/* start pagination */
.pagination .icon-grey {
  color: var(--grey);
}
.pagination {
  border-color: var(--grey);
}
.pagination.disabled .icon-grey {
  color: var(--extra-light-grey);
}
.pagination.disabled {
  border-color: var(--extra-light-grey);
}
.pagination:not(.disabled):hover {
  border-color: var(--primary);
}
.pagination:not(.disabled):hover .icon-grey {
  color: var(--primary);
}
/* end pagination */
