@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #db5300;
  --light-primary: #f6a26f;
  --grey: #746e6c;
  --extra-light-grey: #ede7e4;
  --light-grey: #aea7a5;
  --dark-grey: #404040;
  --body-bg: #fafafa;
  --black: #001a1a;
}
@layer utilities {
  .sidebar .active {
    @apply bg-primary;
  }
  .sidebar .active span {
    @apply text-white;
  }
  .sidebar .active svg {
    @apply text-white;
  }
}
/* Sidebar */
.sidebar li:hover {
  background: var(--light-primary);
}
.sidebar .icon,
.sidebar .sidebar_text {
  color: var(--light-grey);
}
.sidebar a:hover .icon,
.sidebar a:hover .sidebar_text,
.sidebar li:hover .icon,
.sidebar li:hover .sidebar_text {
  color: white;
}
/* end Sidebar */
